@model BookCreateOrUpdateViewModel

<form method="post">
    <div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">@(Model.IsCreating ? "Add" : "Update") Book</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Pages"></label>
			<input asp-for="Pages" class="form-control" />
			<span asp-validation-for="Pages" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Category"></label>
			<input asp-for="Category" class="form-control" />
			<span asp-validation-for="Category" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="AuthorId"></label>
			<input asp-for="AuthorId" class="form-control" />
			<span asp-validation-for="AuthorId" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">@(Model.IsCreating ? "Add" : "Update")</button>
		<a asp-controller="Book" asp-action="List" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>